$breakpoint-mobile: 450px;

.faq-question-partial {
  border: 1px solid var(--border-color);
  border-radius: 24px;
  padding: 24px 32px;
  background-color: var(--background-color);
  transition: 0.2s;

  @media only screen and (max-width: $breakpoint-mobile) {
    padding: 24px;
  }

  // ensure that every new question
  // is 8px below the previous one
  &:not(:first-of-type) {
    margin-top: 8px;
  }

  // make our element interactive
  // and UX friendly
  &:hover {
    cursor: pointer;
    background-color: var(--background-color-primary-hover);
    border-color: var(--primary-color);
  }

  & &__first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & &__title {
    // typography starts
    font-size: var(--font-size-m);
    line-height: 20px;
    font-weight: 700;
    // typography ends

    @media only screen and (max-width: $breakpoint-mobile) {
      // typography starts
      line-height: 19.2px;
      // typography ends

      max-height: 38px;
      max-width: 261px;
    }
  }

  & &__icon {
    // to do for later
    --icon-size: 13px;
    --icon-thickness: 1px;
    // set the icon to be a child of the question element
    position: relative;

    // set the distance between the icon and the question text
    margin-left: 16px;

    // set the size of the icon
    width: var(--icon-size);
    height: var(--icon-size);

    // prevent the icon from shrinking when there's not enough space
    flex-shrink: 0;

    // create two pseudo-elements to make the icon (one vertical and one horizontal line)
    &:before,
    &:after {
      // the content: "" rule is required in order to create an empty pseudo-element
      // that can be styled and positioned as needed
      content: "";
      position: absolute;

      // set the color and transition time of the icon
      background-color: var(--primary-color);
      transition: 0.2s;
    }

    // set the style for the vertical line of the icon
    &:before {
      // set the width of the line
      width: var(--icon-thickness);

      // use calc() to center the line vertically in the icon
      margin-left: calc(((var(--icon-size) - var(--icon-thickness)) / 2));
      height: 100%;
    }

    // set the style for the horizontal line of the icon
    &:after {
      // set the height of the line
      height: var(--icon-thickness);

      // use calc() to center the line horizontally in the icon
      margin-top: calc(((var(--icon-size) - var(--icon-thickness)) / 2));
      left: 0;
      width: 100%;
    }
  }

  & &__answer {
    // don't show the answer
    // in our default state
    margin-top: 24px;
    display: none;
    transition: 0.2s;
  }

  & &__paragraph {
    // typography starts
    font-size: var(--font-size-s);
    line-height: 26px;
    letter-spacing: -0em;
    // typography ends

    margin-block: 0;

    @media only screen and (max-width: $breakpoint-mobile) {
      // typography starts
      line-height: 21.68px;
      // typography ends
    }

    // ensure that every new paragraph
    // is 12px below the previous one
    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }

  &[data-question-expanded] {
    // change the element colors
    // for our xpanded state
    background-color: var(--background-color-primary-hover);
    border-color: var(--primary-color);

    // show the answer
    .faq-question-partial__answer {
      display: block;
    }
  }
}
